.header {
    padding: 5px 10px;
}


.container svg {
    display: inline-block;
    padding-right: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.allNotesCounter {
    padding-bottom: 10px;
    color: rgba(95, 94, 94, 0.808);
   
}

.text {
    padding-right: 10px;
}