.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar body body"
        "footer footer footer";
        grid-template-columns: var(--grid_columns_wrapper);
        // gap: 0px 10px;

}


.header {
    height: 60px;
    background-color: green;
    grid-area: header;

}

.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}

.footer {
    background-color: blue;
    grid-area: footer;
}

.body {
    min-height: 100vh;
    background-color: rgba(235, 235, 235, 0.616);
    grid-area: body;
}