.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar body body";
        // "footer footer footer";
        grid-template-columns: 1fr 7.5fr;
        // gap: 0px 10px;
}

.header {
    height: 10px;
    background-color: rgb(255, 255, 255);
    grid-area: header;
}

.sidebar {
    max-width: 225px; 
    display: grid;
    grid-area: sidebar;
}

.footer {
    background-color: blue;
    grid-area: footer;
}

.body {
    min-height: 100vh;
    grid-area: body;
}

@media only screen and (max-width: 1100px) {
    .wrapper {
       font-size: 14px;
    }
  }