@import '../styles/variable@media.scss';

.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar body body";
    // "footer footer footer";
    grid-template-columns: 225px 7.5fr;
    // gap: 0px 10px;
}

.header {
    display: none;
    height: 25px;
    background-color: rgb(255, 255, 255);
    grid-area: header;
}

.sidebar {
    display: grid;
    grid-area: sidebar;
}

.footer {
    background-color: blue;
    grid-area: footer;
}

.body {
    min-height: 100svh;
    grid-area: body;
}

@media only screen and (max-width: #{$screen1125px}) {
    .wrapper {
        font-size: 14px;
        grid-template-columns: 200px 7.5fr;
    }


}


@media only screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }

    .body {
        width: 100svw;
        
        padding-left: 5px;
        padding-right: 5px;
    }

    .wrapper {
      
      
        display: block;
   
        
    }

    .header {
        display: none;
    }

}