.toolbarHeader {
    height: 32px;
    margin-bottom: 5px;
    overflow: hidden;
    z-index: 1;
    display: grid;
    align-items: center;
    border-left: 1px solid rgba(122, 122, 122, 0.452);

}

.visibleShow {
    overflow: visible;
}

.btn__code {
    padding-left: 10px;
    display: flex;
}
.basic_btns {
    
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.last_date_update {
    display: none;  
    
}
.showDate {
    color: #525151;
    padding-left: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn_active_code {
    svg {
        fill:#1613e0;
    }
}

.hideBtns {

    transition: all 1.2s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);

}






.btn_active svg {
    fill: #b11f1f;
}


.btn {
    background-color: #FFF;
    min-width: 32px;
    border: none;
    cursor: pointer;
    text-transform: "capitalize";

    &:hover {
        svg {
            fill: #b11f1f;
        }
    }

}


.btn_highlighter {
    margin: 0 auto;
    background-color: #FFF;
    min-width: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
   
 
}


.btn svg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_highlighter svg {
    &:hover {
        transition: all .3s;
        transform: scale(1.4);
    }

    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}



.alignmentBtns {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(122, 122, 122, 0.452);
    border-right: 1px solid rgba(122, 122, 122, 0.452);
    display: flex;
    
    
}

.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);

}


.btn_active_heading svg {
    fill: #b11f1f;
}


.btn_active_highlighter svg {
    box-shadow: 0 0 2px 1.5px  rgba(167, 166, 166, 0.671);
    transform: scale(1.4);
   
}

.hideNote {
    user-select: none;
    pointer-events: none;
    filter: blur(5px);
    text-decoration: line-through;
    color: #525151;
}

.highlighter_yellow  {
fill: #ffef9e;
}
.highlighter_pink {
fill: #fec1d0;
}
.highlighter_green {
fill: #b7f7d1;
}
.highlighter_blue {
fill: #adecf4;
}
.highlighter_violet {
fill: #cbcaff;
}
.highlighter_brown {
fill: #ffd1b0;
}

.all__btns {
    display: flex;
    align-items: center;
    
}
