.block_link {
    width: 100%;
    height: 100%;
    border-bottom:  1px solid rgba(128, 128, 128, 0.349);
    text-decoration: none;
    position: relative;
    color:rgb(87, 87, 87);
    height: 110px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #666;
}

.delete_btn {
    position: absolute;
    right: 0;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(223, 223, 223);
    border: 1px solid rgba(75, 74, 74, 0.521);
 
}


.title_link {
    color: black;
    font-size: 16px;
}

.body_link {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;

  
}

.active {
    padding-right: 10px;
    background-color: rgba(102, 102, 102, 0.082);
    border-bottom: 1px solid rgba(103, 180, 231, 0.699);
}

