.toolbar {
    h1 {
        margin: 0;
    }
    display:grid;
    grid-template-columns: 1fr auto;

}

.title {
    background-color: transparent;
    width: 100%;
    font-size: 30px;
    height: 100%;
    padding: 5px 0;
    border: none;
    resize: none;



  

 &:focus {
    border: 0;
    outline: none;
 }   
 
}



.body {
    line-height: 1.5;
    height:  90vh;
    overflow: auto;
    padding-top: 15px;
   
}


.test {
    visibility: hidden;
}

.btn {
   
    min-width: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-transform: "capitalize";
   
    
}

    .btn svg {
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }


    .toolbarHeader {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;
        padding-left: 10px;
        border-left: 1px solid rgba(122, 122, 122, 0.452);

       
    }


    .btn_active svg {
        fill: #b11f1f;
    }



    .alignmentBtns {
        &:last-child {
            padding-right: 10px;
         }
        padding-left: 10px;
        border-left: 1px solid rgba(122, 122, 122, 0.452);
        display: inline-block;
    }


    .block {
        
        pointer-events: none;
        
    }


  
    @keyframes fade {
        from {
          opacity: 1;
          visibility: visible;
        }
        to {
          opacity: 0;
          visibility: hidden;
        }
      }

      .animated {
        transition: all .2s;
        animation: fade 3s ease-in-out forwards;
      }
    
    .modal {
        z-index: 11111;
        border-radius: 3px;
        transition: all .2s;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        height: 25px;
        pointer-events: none;
        background-color: rgba(255, 0, 0, 0.863);
        
    }

    


    .dropbtn {
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus svg {
        fill: #b11f1f;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        
    }
    
    .dropdown_content {
        opacity: 0; /* Начальное значение нулевой прозрачности */
        transition: opacity 0.5s; /* Добавлена анимация только для opacity */
        position: absolute;
        right: 25px;
        background-color: #f1f1f1;
        min-width: 160px;
        padding: 10px;
        min-height: 125px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Убраны display и visibility из .dropdown_content */
    
    .dropdown_content a {
        opacity: 1;
        transition: background-color 0.5s; /* Добавлена анимация только для background-color */
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown_content a:hover {
        background-color: #ddd;
    }
    
    /* При наведении на .dropdown, меняем прозрачность .dropdown_content */
    .show {
        opacity: 1;
    }
    
    /* Класс .show больше не нужен */