.toolbar {
    margin-top: 16px;
    h1 {
        margin: 0;
    }
}

.title {
    width: 100%;
    font-size: 30px;
    border:0;
    padding-bottom: 15px;
 &:focus {
    border: 0;
    outline: none;
 }   
 
}



.body {
    padding-top: 10px;
}

