
.btn_sort {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border:none;
}



.active_btn_sortDown {
    color: red;
   svg {
    transform: rotate(180deg);
   }
}

.active_btn_sortUp {
    color: red;
}

.title_sort  {
    font-weight: bold;
    color: #7a7979;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}


.show {
    opacity: 1;
    visibility: visible;
    
}



@media only screen and (max-width:500px) {
    .title_sort {
        margin-left: 0px;
    }
    .btn_sort {
        margin-left: 0px;
    }
    
}

