.error404 {
    font-size: 30px;
    padding-top: 100px;
	display: grid;
    justify-content: center;
	min-height: 100vh;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
}