@import "./variableRoot.scss";


body { margin:0 ;}


.text-editor {
    width: 500px;
    height: 500px;
    background-color: wheat;
}


.DraftEditor-root {
    position: relative;
  }
  
  .public-DraftEditorPlaceholder-root {
    color:rgba(150, 150, 150, 0.589);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }