@import "./variableRoot.scss";
@import "./error404.scss";



body { 
  margin:0 ;

}

html {
  scrollbar-width: thin;
  overflow: hidden;
}


.text-editor {
    width: 500px;
    height: 500px;
    background-color: wheat;
}


.DraftEditor-root {
    position: relative;
  }
  
  .public-DraftEditorPlaceholder-root {
    padding-top: 15px;
    color:rgba(150, 150, 150, 0.589);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    
  }
  .public-DraftStyleDefault-block {
    padding-top: 15px;
  }